
{% extends "base.html" %}
{% block title %}
Home Page
{% endblock %}
{% block content %}
	<form method="post">
	{{form.hidden_tag()}}
		<table>
			<tr>
				<td>Please enter your bookmark</td>
				<td>{{form.url(size=50)}}</td>
			</tr>
			<tr>
				<ul>
					{% for error in form.url.errors %}
						<li>{{error}}</li>
					{%endfor%}

				</ul>
			</tr>
			<tr>
				<td>Please enter your description</td>
				<td>{{form.description(size=50)}}</td>
			</tr>
			<tr>
				<td><input type="submit"></td>
			</tr>
			
		</table>
	</form>

{% endblock %}

{% block sidebar %}
{% endblock %}