{% extends "base.html" %}
{% block title %}
Home Page
{% endblock %}
{% block content %}
    <article>
                    <header>
                        <h1>Welcome</h1>
                        <p>Our bookmarking application</p>
                    </header>
                    <section>
                        <h2>Recently Added</h2>
                        {% if new_bookmark %}
                            <ul>
                                {%for bookmark in new_bookmark%}
                                <li><a href="user/{{bookmark.user.username}}"> {{bookmark.user.username}}</a>
                                    {{bookmark.url}}
                                    {{bookmark.description}}

                                </li>
                                {%endfor%}
                            </ul>
                        {%else%}
                        No bookmark yet
                        {% endif %}

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
                    </section>
                  
                </article>
{% endblock %}
