{% extends "base.html" %}

{% block title %}
Title {{user.username}}
{% endblock %}

{% block content %}
	<article>
		<header>
			<h1>Bookmark for {{user.username}}</h1>
			<ul>
				{% for bm in user.bookmarks %}
				<li>
					{{bm.url}} + " " + {{bm.description}}
				</li>
				{% endfor %}
			</ul>

		</header>
	</article>
{% endblock %}